body{
	background-color: black;
}

/*nav bar*/
.bg-light{
	background-color: gray!important;
}
/*nav bar*/

/*index*/
#banner{
	background-image: url('../img/TopImage.jpg');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 500px;
	width: auto;
}

.carsd{
	background-color: pink!important;
	
	height: 400px;
	width: auto;
}
/*index*/




/*proyectos*/
.border-primary{
	color:    pink !important;

}

#seccion{
	background-color: #8c8c8c;
	width: 1207px;
	height: 320px;
}

/*proyectos*/


/*servicios*/
#servfond{
	background-image: url('../img/jhgv.jpg');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 500px;
	width: auto;
	opacity: 5rem
}

#servicios{
	background-color: #282627!important;
	
	/*height: 400px;
	width: auto;*/

}





/*servicios*/













/*index*/