body{
	background-color: white;
}

/*nav bar*/
.bg-light{
	background-color: gray!important;
}
/*nav bar*/

/*index*/
#banner{
	background-image: url('../img/TopImage.jpg');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 400px;
	width: auto;
}

#fontex{
	background-color: white !important;
	
	height: 400px;
	width: auto;
}

#footer{
	background-color: gray !important;

}
/*index*/




/*proyectos*/
.border-primary{
	color:    pink !important;

}

#seccion{
	background-color: #8c8c8c;
	width: 1207px;
	height: 320px;
}

.img-cont:hover{transform: scale(1.2);
	z-index: 2
	}

/*proyectos*/


/*servicios*/
#bannerserv{
	background-image: url('../img/1221.jpg');
	width: 1207px;
	height: 320px;
	background-repeat: no-repeat;
	background-position: center;
}

#servicios{
	background-color: #282627!important;
	
	/*height: 400px;
	width: auto;*/

}

/*servicios*/

/*nosotros*/
#bannernos{
	background-image: url('../img/eng123.jpg');
	width: 1207px;
	height: 320px;
	background-repeat: no-repeat;
	background-position: center;
}

/*nosotros*/














/*index*/