@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,300;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

/*-------.--------.-----------.---------.-----.-----.*/
/*nav bar*/
.bg-danger {
  background-color: #ae8084 !important;
}

.animate__backInRight {
  animation-duration: 3s;
}

.animate__backInLeft {
  animation-duration: 6s;
}

.animate__fadeIn {
  animation-duration: 4s;
}

/*-------.--------.-----------.---------.-----.-----.*/
/*index*/
#banner_uno {
  background-image: url("../img/bnw.jpeg");
  background-position: center;
  background-size: cover;
  height: 500px;
  width: auto;
}

#banner_uno .banner_texto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

#banner_uno p {
  font-family: Oswald;
  font-size: 40px;
  color: white;
}

#banner_dos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

#banner_dos .texto_ban_dos {
  font-family: Oswald;
  font-size: 30px;
  color: black;
}

@media (max-width: 600px) {
  #banner_dos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
  }
}

.titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
}

.titulo p {
  font-family: Oswald;
  font-size: 30px;
  color: black;
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

#cards .card_uno p {
  font-family: Nunito;
  font-size: 20px;
  color: black;
}

#cards .card_dos p {
  font-family: Nunito;
  font-size: 20px;
  color: black;
}

#cards .card_tres p {
  font-family: Nunito;
  font-size: 20px;
  color: black;
}

@media (max-width: 600px) {
  #cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
  }
  #cards p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
  }
}

#footer {
  background-color: #ae8084;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#footer .t_1 {
  color: white;
  font-size: 40px;
  font-family: bebas Neue;
}

#footer .t_2 {
  font-family: "Nunito", cursive !important;
  font-size: 15px;
  color: white;
}

#footer .t_3 {
  font-family: "Bebas Neue", cursive !important;
  font-size: 20px;
  color: white;
}

#footer .t_4 {
  font-family: "Nunito", cursive !important;
  font-size: 15px;
  color: white;
}

#footer .container_dos {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: center;
}

#footer .informacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Bebas Neue", cursive !important;
  font-size: 20px;
  color: white;
}

@media (max-width: 600px) {
  #footer {
    width: autopx;
    height: 560px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    text-align: center;
  }
}

.bg-warning {
  background-color: #f9f9f9 !important;
}

/*index*/
/*-------.--------.-----------.---------.-----.-----.*/
/*proyectos*/
#texto-proy .palabra-uno {
  color: #55606a;
  font-size: 40px;
  font-family: bebas Neue;
}

.border-primary {
  color: pink !important;
}

#seccion {
  background-color: #8c8c8c;
  width: 1207px;
  height: 320px;
}

#img1 {
  background-image: url("../img/_88A6156.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: auto;
}

@media (max-width: 600px) {
  #img1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }
}

.img-cont:hover {
  transform: scale(1.2);
  z-index: 2;
}

#texto-proy {
  background-color: none;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

#texto-proy p {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  text-align: center;
}

#cuatroimagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-content: center;
  background-color: #7d7375;
  width: auto;
  height: 250px;
}

#cuatroimagenes .img4 {
  border-radius: 20px;
}

#cuatroimagenes .img4:hover {
  transform: scale(1.2);
  z-index: 2;
}

@media (max-width: 600px) {
  #cuatroimagenes {
    height: 1000px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
}

#grids.cuadricula {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  #grids.cuadricula {
    width: autopx;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    text-align: center;
  }
}

.rej-1 {
  grid-area: 1 / 1 / 9 / 7;
  background-image: url("../img/imagen.7.jpg");
  height: 405px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rej-2 {
  grid-area: 1 / 7 / 5 / 10;
  background-color: none;
  height: 200px;
}

.rej-3 {
  grid-area: 5 / 7 / 9 / 10;
  background-image: url("../img/imagen.4.jpg");
  height: 405px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.rej-4 {
  grid-area: 1 / 10 / 5 / 13;
  background-image: url("../img/imagen.1.png");
  height: 405px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.rej-5 {
  grid-area: 5 / 10 / 9 / 13;
  background-color: none;
  height: 200px;
}

.rej-6 {
  grid-area: 9 / 7 / 13 / 13;
  background-image: url("../img/imagen.2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.rej-7 {
  grid-area: 9 / 3 / 13 / 7;
  background-color: none;
  height: 200px;
}

.rej-8 {
  grid-area: 9 / 1 / 13 / 3;
  background-image: url("../img/HGH.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.txt-rej-uno {
  font-size: 25px;
}

.txt-rej-dos {
  font-size: 15px;
}

/*proyectos*/
/*-------.--------.-----------.---------.-----.-----.*/
/*servicios*/
.animate__bounceInLeft {
  animation-duration: 4s;
}

#seccion_uno {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f9f9f9;
  height: 500px;
  width: auto;
}

@media (max-width: 600px) {
  #seccion_uno {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 500px;
    width: 600px;
  }
  #seccion_uno .img_sec {
    height: 300px;
    width: 400px;
  }
  #seccion_uno .txt_sec {
    border-radius: 10px;
    height: 100px;
    width: 300px;
  }
}

.img_sec {
  grid-area: 2 / 4 / 11 / 12;
  background-image: url("../img/arquite.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 430px;
  width: 855px;
}

.txt_sec {
  grid-area: 4 / 2 / 9 / 6;
  background-color: #eceaea;
  height: 250px;
  width: 300px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
}

.txt_sec p {
  font-family: 'Oswald';
  font-size: 38px;
}

#servicios {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 6px;
  height: 1000px;
  width: auto;
  background-color: #9b9b9b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  #servicios {
    margin-left: 0px;
    display: flex;
    height: 1000px;
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
  }
  #servicios .div1 {
    height: 0px;
    width: 0px;
  }
  #servicios .div2 {
    height: 400px;
    width: 450px;
  }
  #servicios .div3 {
    height: 400px;
    width: 450px;
  }
  #servicios .div4 {
    height: 400px;
    width: 450px;
  }
  #servicios .div5 {
    height: 400px;
    width: 450px;
  }
  #servicios .div6 {
    height: 400px;
    width: 450px;
  }
  #servicios .div7 {
    height: 400px;
    width: 450px;
  }
  #servicios .div8 {
    height: 400px;
    width: auto;
    border-radius: 0px;
  }
}

.div1 {
  grid-area: 1 / 1 / 13 / 8;
  border-radius: 10px;
  background-image: url("../img/boc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  height: 930px;
  width: 600px;
  margin-top: 30px;
}

.div2 {
  grid-area: 2 / 5 / 5 / 9;
  border-radius: 10px;
  background-image: url("../img/_88A6156.jpg");
  height: 405px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  z-index: 4;
}

.div3 {
  grid-area: 5 / 5 / 8 / 9;
  border-radius: 10px;
  background-image: url("../img/obra.jpg");
  height: 405px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  z-index: 4;
}

.div4 {
  grid-area: 3 / 3 / 4 / 6;
  border-radius: 10px;
  background-color: #eceaea;
  height: 100px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 5;
}

.div4 p {
  font-family: 'Oswald';
  font-size: 28px;
}

.div5 {
  grid-area: 6 / 3 / 7 / 6;
  border-radius: 10px;
  background-color: #eceaea;
  height: 100px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 5;
}

.div5 p {
  font-family: 'Oswald';
  font-size: 28px;
}

.div6 {
  grid-area: 9 / 3 / 10 / 6;
  border-radius: 10px;
  background-color: #eceaea;
  height: 100px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 100;
}

.div6 p {
  font-family: 'Oswald';
  font-size: 28px;
}

.div7 {
  grid-area: 8 / 5 / 11 / 9;
  border-radius: 10px;
  background-image: url("../img/original-b737fc66ab10d880055154af054a2f87.jpg");
  height: 405px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  z-index: 6;
}

.div8 {
  grid-area: 2 / 10 / 11 / 13;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-top: 50px;
  background-color: #7b7979;
  height: 500px;
  width: auto;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.div8 p {
  font-family: 'Oswald';
  font-size: 18px;
}

/*servicios*/
/*-------.--------.-----------.---------.-----.-----.*/
/*nosotros*/
#banner_nos {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: center;
  background-image: url("../img/banner 1.jpg");
  width: auto;
  height: 400px;
}

#banner_nos .bn_tx1 {
  font-family: 'Oswald';
  font-size: 30px;
  width: 400px;
  height: 200px;
  color: black;
  margin-right: 160px;
}

.tx_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Oswald';
  font-size: 30px;
}

.tx_3 {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Bebas+Neue';
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  height: 100px;
  height: 100px;
  text-align: justify;
}

#equipo {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 300px;
  width: 1000px;
  margin-left: 100px;
  margin-top: 40px;
}

@media (max-width: 600px) {
  #equipo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    padding-top: 100px;
  }
}

#equipo .arq {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: 'Oswald';
  font-size: 20px;
}

#equipo .arq_img {
  width: 120px;
  height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/arqcara.jpg");
}

#equipo .ing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: 'Oswald';
  font-size: 20px;
}

#equipo .ing_img {
  width: 120px;
  height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/ing.jpg");
}

#equipo .int {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: 'Oswald';
  font-size: 20px;
}

#equipo .int_img {
  width: 120px;
  height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/top.jpg");
}

#nosotros {
  background-image: url("../img/bta.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: auto;
  margin-top: 40px;
}

/*nosotros*/
/*-------.--------.-----------.---------.-----.-----.*/
/*contacto*/
#contacto {
  background-image: url("../img/buisness.jpg");
  height: 700px;
  width: 1140px;
  margin-left: 70px;
  margin-right: 70px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

@media (max-width: 600px) {
  #contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    margin-left: 0px;
    height: 600px;
    width: 590px;
  }
  #contacto p {
    font-size: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: unset;
  align-content: center;
  height: 500px;
  width: 600px;
}

.form p {
  color: white;
  font-size: 40px;
  font-family: bebas Neue;
}

@media (max-width: 600px) {
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }
}

/*contacto*/
.font-weight-Extra-light {
  font-weight: 200;
}

.font-weight-Medium {
  font-weight: 500;
}

.font-weight-Bold {
  font-weight: 700;
}
